<%- include('./partials/header') %>
<div class="container-fluid">
<div class="jumbotron">
  <h1 class="display-3">Hello, CodeCore!</h1>
  <p class="lead">This will help you randomize the teams. The best tool ever built on planet earth</p>
  <hr class="my-2">
  <p>Give it a try!</p>
  <%# <p class="lead">
    <a class="btn btn-primary btn-lg" href="#!" role="button">Some action</a>
  </p>%>
</div>
</div>

<%- include('./partials/footer') %>
